body{ 
  background-color:pink; 
  font-family:verdana;
  color:red;
  padding:200px;
}
p{ 
  text-align:center; 
  padding: 25px 25px;
  
  }
a:hover{
  color:red;
   cursor:pointer;
}
a:link{
  text-decoration:none;
}
