body{ 
  background-color:pink; 
  font-family:verdana;
}
body{
  color:red;
}
p{ 
  text-align:center; 
  border:2px solid red; 
  border-radius:2px;
  padding: 25px 25px;
  background-color:white;
}
a:hover{
   background-color:red;
  color:red;
   cursor:pointer;
}
a:link{
  text-decoration:none;
}
