body{ 
  background-color:pink; 
  font-family:verdana;
  color:red;
  padding:200px;
}
p{ 
  text-align:center; 

  padding: 25px 25px;
  background-color:white;
  }
a:hover{
   background-color:red;
  color:white;
   cursor:pointer;
}
a:link{
  text-decoration:none;
}
